services:
  backend:
    build:
      context: ./backend
    container_name: instagrid-backend
    ports:
      - "8001:8000"
    env_file:
      - .env
    volumes:
      - ./backend/data:/app/data
    restart: always

  frontend:
    build:
      context: ./frontend
    container_name: instagrid-frontend
    ports:
      - "8503:8501"
    env_file:
      - .env
    environment:
      - API_URL=http://backend:8000
    depends_on:
      - backend
    restart: always

  frontend-react:
    build:
      context: ./frontend-react
      args:
        VITE_API_URL: http://localhost:8001
    container_name: instagrid-react
    ports:
      - "3001:80"
    depends_on:
      - backend
    restart: always
