@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark text-white font-sans antialiased;
  }
}

.upload-slot-active {
  @apply border-indigo-500 bg-indigo-500/10;
}